main {
  box-sizing: border-box;
  position: absolute;
  height: {main_box_height}px;
  width: 95%;
  margin: 5px;
  border: {main_border_size}px solid {main_border_color};
  border-radius: 20px;
  box-shadow: {main_shadow_size} {main_shadow_color}, inset {main_inset_shadow_size} {main_inset_shadow_color};
  padding: {main_box_padding}px;
  background-color: {main_backgrond_color};
}
.goal_title { 
  float: left;
  color: {main_title_color};
  font-size: {main_title_size}px;
  font-family: poppins, sans-serif;
  font-weight: bold;
  text-shadow: {main_title_shadow_size} {main_title_shadow_color};
  margin: 0 0 0 10px;
  -webkit-text-stroke: {main_title_border_size}px {main_title_border_color};
}
#progress { 
  float: left;
  font-family: poppins, sans-serif;
  font-size: {progress_font_size}px;
  line-height: 23px;
  color: {progress_font_color};
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 97%;
  align-items: center;
  justify-content: flex-end; center; 
  padding: {progress_padding}px; 
  margin: 5px;
  -webkit-text-stroke: {progress_title_border_size}px {progress_title_border_color};
  border: {progress_border_size}px solid {progress_border_color};
  background-color: {progress_background_color};
  border-radius: {progress_border_radius}px;
  box-shadow: {progress_shadow_size} {progress_shadow_color}, inset {progress_inset_shadow_size} {progress_inset_shadow_color};
}
  #progress label {   
    align-self: flex-end;
    border-radius: 40px;
    background: #a54bc6;
    display: flex;
}
  #progress #bar {  
    width: 93%;
    height: 93%;
    padding: {loading_padding}px;
    border: {loading_border_size}px solid {loading_border_color};
    border-radius: {loading_border_radius}px;
    background: {loading_inner_background_color};
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex-wrap: wrap; 
    padding: {loading_padding_inner}px;
}
    #progress #bar::before, #progress #bar .loading { 
      color: {progress_font_inner_color};
      content: '';
      background: rgba(23, 23, 23, 0.6);
      border-radius: {loading_border_radius}px;
      width: 93%;
      height: 93%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -2; 
}
    #progress #bar .loading { 
      background-color: {loading_background_color};
      border: {loading_inner_border_size}px solid {loading_inner_border_color};
      box-shadow: {loading_shadow_size} {loading_shadow_color}, inset {loading_inset_shadow_size} {loading_inset_shadow_color};
      min-width: 15%;
      width: 15%;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: .5s all ease-in-out; 
}
      #progress #bar .loading .amount {
        position: relative;
        padding-right: 1em; 
}
